<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>html5 canvas除夕烟花</title><base target="_blank" />
<link rel="stylesheet" type="text/css" href="http://hovertree.com/texiao/html5/43/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="http://hovertree.com/texiao/html5/43/css/hovertree.css">
</head>
<body>
<div class="hovertree"></div>
<script type="text/javascript" src="http://down.hovertree.com/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://hovertree.com/texiao/html5/43/js/jquery.fireworks.js"></script>
<script type="text/javascript">
    $('.hovertree').fireworks({
	  sound: true, // sound effect
	  opacity: 0.9, 
	  width: '100%', 
	  height: '100%' 
	});
</script>
    <div style="width:340px;position:fixed;z-index:99;"><a href="http://hovertree.com/"></a> <a href="http://hovertree.com/h/bjag/me34x8fk.htm"></a></div>
</body>
</html>